doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src=(process.env.NODE_ENV === "production" ? "/javascripts" : "http://127.0.0.1:8080/javascripts") + '/app.js')